#big files
data/microdados_pnad/arquivos_zip/
data/microdados_pnad/dados_descompactados/
data/microdados_pnad/dados_descompactados/2019/
data/microdados_pnad/dados_descompactados/2020/
data/microdados_pnad/dados_descompactados/2021/
data/microdados_pnad/dados_descompactados/2022/
data/microdados_pnad/dados_descompactados/2023/
data/microdados_pnad/dados_descompactados/2024/
data/microdados_pnad/dados_descompactados/2025/

data/microdados_pnad/estatisticas_trimestrais/

data/microdados_pnad/dados_organizados_csv/
data_microdados_pnad/dados_empilhados/
data/microdados_pnad/dados_organizados_txt/

pnad_estatisticas copy.py
pnad_organizacao copy.py



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
data/microdados_pnad/dados_empilhados/PNAD_empilhada.csv
data/microdados_pnad/dados_organizados_csv/2019/PNADC_012019_organizado.csv
data/microdados_pnad/dados_organizados_csv/2019/PNADC_022019_organizado.csv
data/microdados_pnad/dados_organizados_csv/2019/PNADC_032019_organizado.csv
data/microdados_pnad/dados_organizados_csv/2019/PNADC_042019_organizado.csv
data/microdados_pnad/dados_organizados_csv/2020/PNADC_012020_organizado.csv
data/microdados_pnad/dados_organizados_csv/2020/PNADC_022020_organizado.csv
data/microdados_pnad/dados_organizados_csv/2020/PNADC_032020_organizado.csv
data/microdados_pnad/dados_organizados_csv/2020/PNADC_042020_organizado.csv
data/microdados_pnad/dados_organizados_csv/2021/PNADC_012021_organizado.csv
data/microdados_pnad/dados_organizados_csv/2021/PNADC_022021_organizado.csv
data/microdados_pnad/dados_organizados_csv/2021/PNADC_032021_organizado.csv
data/microdados_pnad/dados_organizados_csv/2021/PNADC_042021_organizado.csv
data/microdados_pnad/dados_organizados_csv/2022/PNADC_012022_organizado.csv
data/microdados_pnad/dados_organizados_csv/2022/PNADC_022022_organizado.csv
data/microdados_pnad/dados_organizados_csv/2022/PNADC_032022_organizado.csv
data/microdados_pnad/dados_organizados_csv/2022/PNADC_042022_organizado.csv
data/microdados_pnad/dados_organizados_csv/2023/PNADC_012023_organizado.csv
data/microdados_pnad/dados_organizados_csv/2023/PNADC_022023_organizado.csv
data/microdados_pnad/dados_organizados_csv/2023/PNADC_032023_organizado.csv
data/microdados_pnad/dados_organizados_csv/2023/PNADC_042023_organizado.csv
data/microdados_pnad/dados_organizados_csv/2024/PNADC_012024_organizado.csv
data/microdados_pnad/dados_organizados_csv/2024/PNADC_022024_organizado.csv
data/microdados_pnad/dados_organizados_csv/2024/PNADC_032024_organizado.csv
data/microdados_pnad/dados_organizados_csv/2024/PNADC_042024_organizado.csv
data/microdados_pnad/dados_organizados_csv/2025/PNADC_012025_organizado.csv
data/microdados_pnad/dados_organizados_csv/2025/PNADC_022025_organizado.csv
data/microdados_pnad/dados_organizados_csv/2025/PNADC_032025_organizado.csv
data/microdados_pnad/dados_organizados_csv/2025/PNADC_042025_organizado.csv
data/microdados_pnad/dados_organizados_txt/2019/PNADC_012019_organizado.txt
data/microdados_pnad/dados_organizados_txt/2019/PNADC_022019_organizado.txt
data/microdados_pnad/dados_organizados_txt/2019/PNADC_032019_organizado.txt
data/microdados_pnad/dados_organizados_txt/2019/PNADC_042019_organizado.txt
data/microdados_pnad/dados_organizados_txt/2020/PNADC_012020_organizado.txt
data/microdados_pnad/dados_organizados_txt/2020/PNADC_022020_organizado.txt
data/microdados_pnad/dados_organizados_txt/2020/PNADC_032020_organizado.txt
data/microdados_pnad/dados_organizados_txt/2020/PNADC_042020_organizado.txt
data/microdados_pnad/dados_organizados_txt/2021/PNADC_012021_organizado.txt
data/microdados_pnad/dados_organizados_txt/2021/PNADC_022021_organizado.txt
data/microdados_pnad/dados_organizados_txt/2021/PNADC_032021_organizado.txt
data/microdados_pnad/dados_organizados_txt/2021/PNADC_042021_organizado.txt
data/microdados_pnad/dados_organizados_txt/2022/PNADC_012022_organizado.txt
data/microdados_pnad/dados_organizados_txt/2022/PNADC_022022_organizado.txt
data/microdados_pnad/dados_organizados_txt/2022/PNADC_032022_organizado.txt
data/microdados_pnad/dados_organizados_txt/2022/PNADC_042022_organizado.txt
data/microdados_pnad/dados_organizados_txt/2023/PNADC_012023_organizado.txt
data/microdados_pnad/dados_organizados_txt/2023/PNADC_022023_organizado.txt
data/microdados_pnad/dados_organizados_txt/2023/PNADC_032023_organizado.txt
data/microdados_pnad/dados_organizados_txt/2023/PNADC_042023_organizado.txt
data/microdados_pnad/dados_organizados_txt/2024/PNADC_012024_organizado.txt
data/microdados_pnad/dados_organizados_txt/2024/PNADC_022024_organizado.txt
data/microdados_pnad/dados_organizados_txt/2024/PNADC_032024_organizado.txt
data/microdados_pnad/dados_organizados_txt/2024/PNADC_042024_organizado.txt
data/microdados_pnad/dados_organizados_txt/2025/PNADC_012025_organizado.txt
data/microdados_pnad/dados_organizados_txt/2025/PNADC_022025_organizado.txt
data/microdados_pnad/dados_organizados_txt/2025/PNADC_032025_organizado.txt
data/microdados_pnad/dados_organizados_txt/2025/PNADC_042025_organizado.txt